#menu ul li{
display: inline;
margin: 25px;       
}
h1{
margin-LEFT: 65px;
color: white 
}
body{
background-image: url(../HTML/food.jpg);
opacity: 1;
} 
img{
margin-top: 5%;
margin-left: 2%;
border-radius: 5%;

}
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: none 
color: white;
text-align: center;
color:white;
background-color: rgb(102,51,51);
opacity: 0.75;
} 
li a{
color:white;
}
iframe{
margin-left:1%;
border-radius: 5%; 
}



/* CSS Document */