h1{ 
margin-top: 2%;
margin-left: 3%;
color: white;
}
h3{
color:white;
margin-left: 3%;
}
p{
color:white;
display: block;
}
body{
background-image: url(../HTML/food.jpg);
}
#jidlo h3{
margin-top: 2%;
}
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: none 
color: white;
text-align: center;
color:white;
background-color: rgb(102,51,51);
opacity: 0.75;
} 